# Python Assignment 2 

## Import Package

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns
import scipy.stats as stats
from scipy.stats import ttest_ind
import warnings

## Load Dataset

In [2]:
data_rolling_sales = pd.read_csv("nyc-rolling-sales.csv")
data_rolling_sales

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,8409,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,...,2,0,2,2400,2575,1998,1,B9,450000,2016-11-28 00:00:00
84544,8410,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,...,2,0,2,2498,2377,1998,1,B9,550000,2017-04-21 00:00:00
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

In [3]:
data_rolling_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  object
dtypes: int64(10), object(12)
memory usage: 14.2+ MB

In [4]:
data_rolling_sales.describe()

,Unnamed: 0,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000
mean,10344.359878,2.998758,4237.218976,376.224015,10731.991614,2.025264,0.193559,2.249184,1789.322976,1.657485
std,7151.779436,1.289790,3568.263407,658.136814,1290.879147,16.721037,8.713183,18.972584,537.344993,0.819341
min,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4231.000000,2.000000,1322.750000,22.000000,10305.000000,0.000000,0.000000,1.000000,1920.000000,1.000000
50%,8942.000000,3.000000,3311.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1940.000000,2.000000
75%,15987.250000,4.000000,6281.000000,1001.000000,11357.000000,2.000000,0.000000,2.000000,1965.000000,2.000000
max,26739.000000,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000

In [5]:
for col in data_rolling_sales.select_dtypes(include='object').columns:
    print(col)
    print(data_rolling_sales[col].unique())
    print()

NEIGHBORHOOD
['ALPHABET CITY' 'CHELSEA' 'CHINATOWN' 'CIVIC CENTER' 'CLINTON'
 'EAST VILLAGE' 'FASHION' 'FINANCIAL' 'FLATIRON' 'GRAMERCY'
 'GREENWICH VILLAGE-CENTRAL' 'GREENWICH VILLAGE-WEST' 'HARLEM-CENTRAL'
 'HARLEM-EAST' 'HARLEM-UPPER' 'HARLEM-WEST' 'INWOOD' 'JAVITS CENTER'
 'KIPS BAY' 'LITTLE ITALY' 'LOWER EAST SIDE' 'MANHATTAN VALLEY'
 'MIDTOWN CBD' 'MIDTOWN EAST' 'MIDTOWN WEST' 'MORNINGSIDE HEIGHTS'
 'MURRAY HILL' 'ROOSEVELT ISLAND' 'SOHO' 'SOUTHBRIDGE' 'TRIBECA'
 'UPPER EAST SIDE (59-79)' 'UPPER EAST SIDE (79-96)'
 'UPPER EAST SIDE (96-110)' 'UPPER WEST SIDE (59-79)'
 'UPPER WEST SIDE (79-96)' 'UPPER WEST SIDE (96-116)'
 'WASHINGTON HEIGHTS LOWER' 'WASHINGTON HEIGHTS UPPER' 'BATHGATE'
 'BAYCHESTER' 'BEDFORD PARK/NORWOOD' 'BELMONT' 'BRONX PARK' 'BRONXDALE'
 'CASTLE HILL/UNIONPORT' 'CITY ISLAND' 'CITY ISLAND-PELHAM STRIP'
 'CO-OP CITY' 'COUNTRY CLUB' 'CROTONA PARK' 'EAST RIVER' 'EAST TREMONT'
 'FIELDSTON' 'FORDHAM' 'HIGHBRIDGE/MORRIS HEIGHTS' 'HUNTS POINT'
 'KINGSBRIDGE HTS/UNIV HTS' 'KINGSBRIDGE/JEROME PARK' 'MELROSE/CONCOURSE'
 'MORRIS PARK/VAN NEST' 'MORRISANIA/LONGWOOD' 'MOTT HAVEN/PORT MORRIS'
 'MOUNT HOPE/MOUNT EDEN' 'PARKCHESTER' 'PELHAM BAY' 'PELHAM GARDENS'
 'PELHAM PARKWAY NORTH' 'PELHAM PARKWAY SOUTH' 'RIVERDALE'
 'SCHUYLERVILLE/PELHAM BAY' 'SOUNDVIEW' 'THROGS NECK' 'VAN CORTLANDT PARK'
 'WAKEFIELD' 'WESTCHESTER' 'WILLIAMSBRIDGE' 'WOODLAWN' 'BATH BEACH'
 'BAY RIDGE' 'BEDFORD STUYVESANT' 'BENSONHURST' 'BERGEN BEACH'
 'BOERUM HILL' 'BOROUGH PARK' 'BRIGHTON BEACH' 'BROOKLYN HEIGHTS'
 'BROWNSVILLE' 'BUSH TERMINAL' 'BUSHWICK' 'CANARSIE' 'CARROLL GARDENS'
 'CLINTON HILL' 'COBBLE HILL' 'COBBLE HILL-WEST' 'CONEY ISLAND'
 'CROWN HEIGHTS' 'CYPRESS HILLS' 'DOWNTOWN-FULTON FERRY'
 'DOWNTOWN-FULTON MALL' 'DOWNTOWN-METROTECH' 'DYKER HEIGHTS'
 'EAST NEW YORK' 'FLATBUSH-CENTRAL' 'FLATBUSH-EAST'
 'FLATBUSH-LEFFERTS GARDEN' 'FLATBUSH-NORTH' 'FLATLANDS' 'FORT GREENE'
 'GERRITSEN BEACH' 'GOWANUS' 'GRAVESEND' 'GREENPOINT' 'JAMAICA BAY'
 'KENSINGTON' 'MADISON' 'MANHATTAN BEACH' 'MARINE PARK' 'MIDWOOD'
 'MILL BASIN' 'NAVY YARD' 'OCEAN HILL' 'OCEAN PARKWAY-NORTH'
 'OCEAN PARKWAY-SOUTH' 'OLD MILL BASIN' 'PARK SLOPE' 'PARK SLOPE SOUTH'
 'PROSPECT HEIGHTS' 'RED HOOK' 'SEAGATE' 'SHEEPSHEAD BAY' 'SPRING CREEK'
 'SUNSET PARK' 'WILLIAMSBURG-CENTRAL' 'WILLIAMSBURG-EAST'
 'WILLIAMSBURG-NORTH' 'WILLIAMSBURG-SOUTH' 'WINDSOR TERRACE'
 'WYCKOFF HEIGHTS' 'AIRPORT LA GUARDIA' 'ARVERNE' 'ASTORIA' 'BAYSIDE'
 'BEECHHURST' 'BELLE HARBOR' 'BELLEROSE' 'BRIARWOOD' 'BROAD CHANNEL'
 'CAMBRIA HEIGHTS' 'COLLEGE POINT' 'CORONA' 'DOUGLASTON' 'EAST ELMHURST'
 'ELMHURST' 'FAR ROCKAWAY' 'FLORAL PARK' 'FLUSHING MEADOW PARK'
 'FLUSHING-NORTH' 'FLUSHING-SOUTH' 'FOREST HILLS' 'FRESH MEADOWS'
 'GLEN OAKS' 'GLENDALE' 'HAMMELS' 'HILLCREST' 'HOLLIS' 'HOLLIS HILLS'
 'HOLLISWOOD' 'HOWARD BEACH' 'JACKSON HEIGHTS' 'JAMAICA' 'JAMAICA ESTATES'
 'JAMAICA HILLS' 'KEW GARDENS' 'LAURELTON' 'LITTLE NECK'
 'LONG ISLAND CITY' 'MASPETH' 'MIDDLE VILLAGE' 'NEPONSIT'
 'OAKLAND GARDENS' 'OZONE PARK' 'QUEENS VILLAGE' 'REGO PARK'
 'RICHMOND HILL' 'RIDGEWOOD' 'ROCKAWAY PARK' 'ROSEDALE'
 'SO. JAMAICA-BAISLEY PARK' 'SOUTH JAMAICA' 'SOUTH OZONE PARK'
 'SPRINGFIELD GARDENS' 'ST. ALBANS' 'SUNNYSIDE' 'WHITESTONE' 'WOODHAVEN'
 'WOODSIDE' 'ANNADALE' 'ARDEN HEIGHTS' 'ARROCHAR' 'ARROCHAR-SHORE ACRES'
 'BLOOMFIELD' 'BULLS HEAD' 'CASTLETON CORNERS' 'CLOVE LAKES' 'CONCORD'
 'CONCORD-FOX HILLS' 'DONGAN HILLS' 'DONGAN HILLS-COLONY'
 'DONGAN HILLS-OLD TOWN' 'ELTINGVILLE' 'EMERSON HILL' 'FRESH KILLS'
 'GRANT CITY' 'GRASMERE' 'GREAT KILLS' 'GREAT KILLS-BAY TERRACE'
 'GRYMES HILL' 'HUGUENOT' 'LIVINGSTON' 'MANOR HEIGHTS' 'MARINERS HARBOR'
 'MIDLAND BEACH' 'NEW BRIGHTON' 'NEW BRIGHTON-ST. GEORGE' 'NEW DORP'
 'NEW DORP-BEACH' 'NEW DORP-HEIGHTS' 'NEW SPRINGVILLE' 'OAKWOOD'
 'OAKWOOD-BEACH' 'PLEASANT PLAINS' 'PORT IVORY' 'PORT RICHMOND'
 'PRINCES BAY' 'RICHMONDTOWN' 'RICHMONDTOWN-LIGHTHS HILL' 'ROSEBANK'
 'ROSSVILLE' 'ROSSVILLE-CHARLESTON' 'ROSSVILLE-PORT MOBIL'
 'ROSSVILLE-RICHMOND VALLEY' 'SILVER LAKE' 'SOUTH BEACH' 'STAPLETON'
 'STAPLETON-CLIFTON' 'TODT HILL' 'TOMPKINSVILLE' 'TOTTENVILLE' 'TRAVIS'
 'WEST NEW BRIGHTON' 'WESTERLEIGH' 'WILLOWBROOK' 'WOODROW']

BUILDING CLASS CATEGORY
['07 RENTALS - WALKUP APARTMENTS             '
 '08 RENTALS - ELEVATOR APARTMENTS           '
 '09 COOPS - WALKUP APARTMENTS               '
 '10 COOPS - ELEVATOR APARTMENTS             '
 '11A CONDO-RENTALS                           '
 '12 CONDOS - WALKUP APARTMENTS              '
 '13 CONDOS - ELEVATOR APARTMENTS            '
 '14 RENTALS - 4-10 UNIT                     '
 '15 CONDOS - 2-10 UNIT RESIDENTIAL          '
 '16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT '
 '17 CONDO COOPS                             '
 '22 STORE BUILDINGS                         '
 '37 RELIGIOUS FACILITIES                    '
 '42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC  '
 '46 CONDO STORE BUILDINGS                   '
 '47 CONDO NON-BUSINESS STORAGE              '
 '01 ONE FAMILY DWELLINGS                    '
 '02 TWO FAMILY DWELLINGS                    '
 '03 THREE FAMILY DWELLINGS                  '
 '04 TAX CLASS 1 CONDOS                      '
 '21 OFFICE BUILDINGS                        '
 '23 LOFT BUILDINGS                          '
 '25 LUXURY HOTELS                           '
 '26 OTHER HOTELS                            '
 '28 COMMERCIAL CONDOS                       '
 '29 COMMERCIAL GARAGES                      '
 '35 INDOOR PUBLIC AND CULTURAL FACILITIES   '
 '38 ASYLUMS AND HOMES                       '
 '43 CONDO OFFICE BUILDINGS                  '
 '44 CONDO PARKING                           '
 '48 CONDO TERRACES/GARDENS/CABANAS          '
 '31 COMMERCIAL VACANT LAND                  '
 '32 HOSPITAL AND HEALTH FACILITIES          '
 '41 TAX CLASS 4 - OTHER                     '
 '18 TAX CLASS 3 - UNTILITY PROPERTIES       '
 '30 WAREHOUSES                              '
 '36 OUTDOOR RECREATIONAL FACILITIES         '
 '49 CONDO WAREHOUSES/FACTORY/INDUS          '
 '34 THEATRES                                '
 '27 FACTORIES                               '
 '40 SELECTED GOVERNMENTAL FACILITIES        '
 '45 CONDO HOTELS                            '
 '33 EDUCATIONAL FACILITIES                  '
 '11 SPECIAL CONDO BILLING LOTS              '
 '05 TAX CLASS 1 VACANT LAND                 '
 '06 TAX CLASS 1 - OTHER                     '
 '39 TRANSPORTATION FACILITIES               ']

TAX CLASS AT PRESENT
['2A' '2' '2B' '2C' ' ' '4' '1' '1C' '3' '1A' '1B']

EASE-MENT
[' ']

BUILDING CLASS AT PRESENT
['C2' 'C7' 'C4' 'D5' 'D9' 'D7' 'D1' 'C6' 'D0' 'D4' 'RR' ' ' 'R2' 'R4' 'S3'
 'S4' 'S5' 'R1' 'R8' 'R9' 'K4' 'M9' 'M3' 'RK' 'RS' 'A9' 'A4' 'B3' 'B1'
 'S2' 'C0' 'R6' 'C5' 'C3' 'C1' 'D6' 'S9' 'O2' 'O1' 'O3' 'O5' 'O6' 'K1'
 'K2' 'L9' 'L8' 'L1' 'H1' 'H8' 'H3' 'R5' 'G6' 'P7' 'M1' 'N2' 'RB' 'RG'
 'RT' 'K9' 'V1' 'GW' 'G2' 'I7' 'M4' 'Z9' 'B9' 'D3' 'G9' 'I9' 'U6' 'O4'
 'L3' 'H2' 'E1' 'Z3' 'RW' 'C9' 'J5' 'N9' 'S1' 'A5' 'J8' 'B2' 'C8' 'F5'
 'Q1' 'G7' 'G5' 'G4' 'P2' 'Q9' 'Y1' 'RA' 'RP' 'O8' 'HR' 'G1' 'E7' 'I5'
 'R3' 'I4' 'H9' 'RH' 'D8' 'HB' 'J4' 'W2' 'P9' 'A7' 'D2' 'S0' 'O7' 'O9'
 'W3' 'HS' 'H6' 'J9' 'R0' 'HH' 'W8' 'W6' 'A1' 'K5' 'F1' 'V9' 'A2' 'V0'
 'G0' 'F4' 'E9' 'I3' 'W4' 'V3' 'I1' 'A6' 'Q8' 'A3' 'Z0' 'W1' 'U1' 'F2'
 'F9' 'GU' 'I6' 'G8' 'P5' 'Y3' 'W9' 'M2' 'G3' 'V6' 'K7' 'K3' 'R7' 'P8'
 'K6' 'V2' 'E2' 'Z2' 'T2' 'K8' 'P6' 'A0' 'H4' 'J1' 'CM' 'Z7']

ADDRESS
['153 AVENUE B' '234 EAST 4TH   STREET' '197 EAST 3RD   STREET' ...
 '49 PITNEY AVENUE' '2730 ARTHUR KILL ROAD' '155 CLAY PIT ROAD']

APARTMENT NUMBER
[' ' 'RES' 'UNIT1' ... '115' 'MS-B' '363']

LAND SQUARE FEET
['1633' '4616' '2212' ... '11088' '208033' '10796']

GROSS SQUARE FEET
['6440' '18690' '7803' ... '977' '2683' '64117']

BUILDING CLASS AT TIME OF SALE
['C2' 'C7' 'C4' 'D5' 'D9' 'D7' 'D1' 'C6' 'D0' 'D4' 'RR' 'R2' 'R4' 'S3'
 'S4' 'S5' 'R1' 'R8' 'R9' 'K4' 'M9' 'M3' 'RA' 'RK' 'RS' 'A9' 'A4' 'B3'
 'B1' 'S2' 'C0' 'R6' 'C5' 'C3' 'C1' 'D6' 'S9' 'O2' 'O1' 'O3' 'O5' 'O6'
 'K1' 'K2' 'L9' 'L8' 'L1' 'H1' 'H8' 'H3' 'R5' 'G9' 'G6' 'P7' 'M1' 'N2'
 'RB' 'RG' 'RT' 'K9' 'V1' 'GW' 'G2' 'I7' 'M4' 'Z9' 'B9' 'D3' 'I9' 'U6'
 'O4' 'L3' 'H2' 'E1' 'Z3' 'Q1' 'RW' 'C9' 'J5' 'N9' 'S1' 'A5' 'J8' 'B2'
 'C8' 'F5' 'G7' 'G5' 'G4' 'P2' 'Q9' 'Y1' 'RP' 'O8' 'HR' 'G1' 'E7' 'I5'
 'R3' 'I4' 'H9' 'RH' 'D8' 'HB' 'J4' 'W2' 'P9' 'A7' 'D2' 'S0' 'O7' 'O9'
 'W3' 'HS' 'H6' 'J9' 'R0' 'HH' 'W8' 'W6' 'A1' 'K5' 'F1' 'V9' 'A2' 'V0'
 'G0' 'F4' 'E9' 'I3' 'W4' 'V3' 'I1' 'A6' 'Q8' 'A3' 'Z0' 'W1' 'U1' 'F2'
 'F9' 'GU' 'I6' 'G8' 'P5' 'Y3' 'W9' 'M2' 'G3' 'V6' 'K7' 'K3' 'H4' 'R7'
 'P8' 'K6' 'V2' 'E2' 'Z2' 'T2' 'K8' 'P6' 'A0' 'J1' 'CM' 'Z7']

SALE PRICE
['6625000' ' -  ' '3936272' ... '408092' '11693337' '69300']

SALE DATE
['2017-07-19 00:00:00' '2016-12-14 00:00:00' '2016-12-09 00:00:00'
 '2016-09-23 00:00:00' '2016-11-17 00:00:00' '2017-07-20 00:00:00'
 '2017-06-20 00:00:00' '2016-11-07 00:00:00' '2016-10-17 00:00:00'
 '2016-09-06 00:00:00' '2017-03-10 00:00:00' '2017-04-28 00:00:00'
 '2017-06-09 00:00:00' '2017-07-14 00:00:00' '2017-03-16 00:00:00'
 '2016-09-01 00:00:00' '2017-08-17 00:00:00' '2016-09-07 00:00:00'
 '2017-08-30 00:00:00' '2017-06-21 00:00:00' '2017-01-30 00:00:00'
 '2017-07-07 00:00:00' '2017-08-04 00:00:00' '2017-01-09 00:00:00'
 '2017-04-18 00:00:00' '2017-06-19 00:00:00' '2017-08-28 00:00:00'
 '2017-05-10 00:00:00' '2016-12-02 00:00:00' '2017-01-31 00:00:00'
 '2017-06-28 00:00:00' '2016-12-07 00:00:00' '2017-08-24 00:00:00'
 '2017-06-27 00:00:00' '2017-03-17 00:00:00' '2017-06-14 00:00:00'
 '2017-01-17 00:00:00' '2017-01-11 00:00:00' '2017-04-21 00:00:00'
 '2017-06-29 00:00:00' '2016-10-05 00:00:00' '2017-02-02 00:00:00'
 '2017-03-20 00:00:00' '2017-04-13 00:00:00' '2017-06-06 00:00:00'
 '2017-07-17 00:00:00' '2016-12-06 00:00:00' '2017-07-13 00:00:00'
 '2017-05-17 00:00:00' '2017-05-31 00:00:00' '2017-07-12 00:00:00'
 '2017-01-19 00:00:00' '2017-05-03 00:00:00' '2016-09-29 00:00:00'
 '2017-08-07 00:00:00' '2017-01-20 00:00:00' '2017-02-23 00:00:00'
 '2016-09-12 00:00:00' '2017-08-09 00:00:00' '2017-04-07 00:00:00'
 '2017-05-11 00:00:00' '2016-10-13 00:00:00' '2016-10-19 00:00:00'
 '2016-12-30 00:00:00' '2017-02-24 00:00:00' '2016-09-21 00:00:00'
 '2016-11-03 00:00:00' '2017-03-31 00:00:00' '2017-05-25 00:00:00'
 '2017-02-14 00:00:00' '2017-02-01 00:00:00' '2017-05-08 00:00:00'
 '2017-08-14 00:00:00' '2017-06-23 00:00:00' '2017-03-27 00:00:00'
 '2017-04-22 00:00:00' '2017-07-06 00:00:00' '2017-06-12 00:00:00'
 '2017-06-22 00:00:00' '2017-02-17 00:00:00' '2016-09-08 00:00:00'
 '2016-12-23 00:00:00' '2017-07-24 00:00:00' '2016-10-08 00:00:00'
 '2016-12-08 00:00:00' '2017-04-25 00:00:00' '2016-12-13 00:00:00'
 '2017-01-12 00:00:00' '2017-03-03 00:00:00' '2017-01-25 00:00:00'
 '2016-12-19 00:00:00' '2016-12-16 00:00:00' '2016-12-29 00:00:00'
 '2017-01-13 00:00:00' '2016-12-21 00:00:00' '2017-03-30 00:00:00'
 '2017-04-14 00:00:00' '2017-05-22 00:00:00' '2017-05-19 00:00:00'
 '2017-02-08 00:00:00' '2016-11-08 00:00:00' '2017-03-02 00:00:00'
 '2017-01-05 00:00:00' '2016-10-11 00:00:00' '2016-11-15 00:00:00'
 '2017-04-03 00:00:00' '2016-11-28 00:00:00' '2016-11-14 00:00:00'
 '2017-04-20 00:00:00' '2017-05-05 00:00:00' '2016-11-16 00:00:00'
 '2017-07-18 00:00:00' '2017-05-15 00:00:00' '2017-07-31 00:00:00'
 '2017-06-07 00:00:00' '2016-11-02 00:00:00' '2017-04-19 00:00:00'
 '2017-07-11 00:00:00' '2016-09-28 00:00:00' '2017-01-06 00:00:00'
 '2016-10-20 00:00:00' '2017-03-28 00:00:00' '2017-04-17 00:00:00'
 '2016-10-26 00:00:00' '2017-02-06 00:00:00' '2017-03-23 00:00:00'
 '2017-08-31 00:00:00' '2017-07-27 00:00:00' '2016-11-10 00:00:00'
 '2016-10-28 00:00:00' '2016-12-05 00:00:00' '2016-11-29 00:00:00'
 '2016-11-21 00:00:00' '2017-01-27 00:00:00' '2016-09-26 00:00:00'
 '2017-02-21 00:00:00' '2016-10-06 00:00:00' '2017-08-25 00:00:00'
 '2016-11-30 00:00:00' '2017-02-16 00:00:00' '2017-03-01 00:00:00'
 '2016-10-31 00:00:00' '2016-12-20 00:00:00' '2016-11-18 00:00:00'
 '2017-04-10 00:00:00' '2016-11-23 00:00:00' '2016-12-27 00:00:00'
 '2017-05-12 00:00:00' '2017-02-15 00:00:00' '2017-07-10 00:00:00'
 '2017-03-06 00:00:00' '2017-06-30 00:00:00' '2017-07-26 00:00:00'
 '2017-03-22 00:00:00' '2017-03-08 00:00:00' '2016-09-14 00:00:00'
 '2017-04-26 00:00:00' '2016-09-27 00:00:00' '2017-04-27 00:00:00'
 '2016-12-01 00:00:00' '2017-01-23 00:00:00' '2016-11-04 00:00:00'
 '2016-10-07 00:00:00' '2017-06-05 00:00:00' '2017-05-23 00:00:00'
 '2017-01-26 00:00:00' '2016-12-28 00:00:00' '2017-05-02 00:00:00'
 '2017-03-07 00:00:00' '2017-05-01 00:00:00' '2016-10-14 00:00:00'
 '2016-12-15 00:00:00' '2016-11-01 00:00:00' '2016-09-15 00:00:00'
 '2016-10-01 00:00:00' '2016-10-24 00:00:00' '2016-11-11 00:00:00'
 '2017-02-09 00:00:00' '2017-07-25 00:00:00' '2017-03-15 00:00:00'
 '2016-09-16 00:00:00' '2017-03-29 00:00:00' '2017-06-26 00:00:00'
 '2016-10-18 00:00:00' '2016-12-22 00:00:00' '2016-09-09 00:00:00'
 '2016-11-09 00:00:00' '2017-05-04 00:00:00' '2017-06-13 00:00:00'
 '2017-02-10 00:00:00' '2017-04-24 00:00:00' '2017-05-24 00:00:00'
 '2017-02-28 00:00:00' '2017-04-11 00:00:00' '2016-10-25 00:00:00'
 '2017-08-21 00:00:00' '2017-08-29 00:00:00' '2017-08-01 00:00:00'
 '2017-06-08 00:00:00' '2017-08-23 00:00:00' '2016-10-27 00:00:00'
 '2017-06-02 00:00:00' '2017-06-16 00:00:00' '2016-11-22 00:00:00'
 '2017-07-05 00:00:00' '2016-09-13 00:00:00' '2017-03-13 00:00:00'
 '2017-01-03 00:00:00' '2017-01-04 00:00:00' '2017-01-18 00:00:00'
 '2017-05-18 00:00:00' '2017-05-30 00:00:00' '2017-01-10 00:00:00'
 '2017-08-11 00:00:00' '2017-08-02 00:00:00' '2017-07-28 00:00:00'
 '2017-06-15 00:00:00' '2017-08-22 00:00:00' '2016-09-02 00:00:00'
 '2017-02-03 00:00:00' '2017-04-06 00:00:00' '2017-02-07 00:00:00'
 '2017-05-26 00:00:00' '2017-08-10 00:00:00' '2017-01-24 00:00:00'
 '2016-12-26 00:00:00' '2017-08-18 00:00:00' '2017-02-13 00:00:00'
 '2016-09-30 00:00:00' '2017-04-12 00:00:00' '2017-05-09 00:00:00'
 '2016-10-29 00:00:00' '2017-02-27 00:00:00' '2017-01-01 00:00:00'
 '2017-06-01 00:00:00' '2016-10-03 00:00:00' '2017-08-15 00:00:00'
 '2016-12-12 00:00:00' '2016-12-17 00:00:00' '2017-08-03 00:00:00'
 '2016-09-22 00:00:00' '2016-12-31 00:00:00' '2016-10-04 00:00:00'
 '2016-09-20 00:00:00' '2017-03-21 00:00:00' '2017-08-08 00:00:00'
 '2017-04-05 00:00:00' '2017-08-16 00:00:00' '2017-02-22 00:00:00'
 '2017-02-04 00:00:00' '2017-05-16 00:00:00' '2017-03-24 00:00:00'
 '2017-03-09 00:00:00' '2017-07-21 00:00:00' '2017-04-04 00:00:00'
 '2016-09-19 00:00:00' '2017-01-07 00:00:00' '2016-10-21 00:00:00'
 '2017-04-29 00:00:00' '2017-07-22 00:00:00' '2017-02-20 00:00:00'
 '2016-10-23 00:00:00' '2017-01-02 00:00:00' '2016-10-12 00:00:00'
 '2017-07-15 00:00:00' '2016-10-16 00:00:00' '2017-03-14 00:00:00'
 '2017-04-30 00:00:00' '2017-04-09 00:00:00' '2017-03-04 00:00:00'
 '2016-09-17 00:00:00' '2017-06-03 00:00:00' '2017-05-06 00:00:00'
 '2017-07-03 00:00:00' '2017-01-28 00:00:00' '2017-03-05 00:00:00'
 '2016-11-27 00:00:00' '2017-02-11 00:00:00' '2017-06-24 00:00:00'
 '2017-01-21 00:00:00' '2016-10-22 00:00:00' '2016-10-10 00:00:00'
 '2016-11-05 00:00:00' '2017-05-20 00:00:00' '2017-08-06 00:00:00'
 '2017-05-21 00:00:00' '2016-09-10 00:00:00' '2016-11-13 00:00:00'
 '2016-10-09 00:00:00' '2016-10-15 00:00:00' '2016-11-25 00:00:00'
 '2017-02-18 00:00:00' '2016-09-25 00:00:00' '2016-11-20 00:00:00'
 '2017-04-01 00:00:00' '2017-01-16 00:00:00' '2017-05-13 00:00:00'
 '2016-11-12 00:00:00' '2017-07-01 00:00:00' '2017-03-19 00:00:00'
 '2017-07-16 00:00:00' '2016-09-05 00:00:00' '2016-10-30 00:00:00'
 '2017-02-26 00:00:00' '2017-01-15 00:00:00' '2016-11-06 00:00:00'
 '2017-03-18 00:00:00' '2017-08-27 00:00:00' '2016-11-26 00:00:00'
 '2017-01-22 00:00:00' '2017-05-29 00:00:00' '2017-04-16 00:00:00'
 '2017-01-14 00:00:00' '2017-04-15 00:00:00' '2017-07-08 00:00:00'
 '2016-11-24 00:00:00' '2017-08-26 00:00:00' '2017-02-25 00:00:00'
 '2017-05-27 00:00:00' '2016-10-02 00:00:00' '2017-03-25 00:00:00'
 '2016-11-19 00:00:00' '2017-05-14 00:00:00' '2017-02-05 00:00:00'
 '2016-09-03 00:00:00' '2017-04-08 00:00:00' '2017-06-11 00:00:00'
 '2016-12-10 00:00:00' '2017-03-11 00:00:00' '2017-03-12 00:00:00'
 '2017-01-29 00:00:00' '2017-08-05 00:00:00' '2016-09-11 00:00:00'
 '2017-06-17 00:00:00' '2017-06-25 00:00:00' '2017-03-26 00:00:00'
 '2017-07-29 00:00:00' '2017-06-18 00:00:00' '2017-05-28 00:00:00'
 '2017-05-07 00:00:00' '2017-06-10 00:00:00' '2016-12-24 00:00:00'
 '2016-09-24 00:00:00' '2016-12-18 00:00:00' '2017-04-02 00:00:00'
 '2017-08-20 00:00:00' '2017-08-12 00:00:00' '2016-12-11 00:00:00'
 '2017-08-19 00:00:00' '2016-09-18 00:00:00' '2017-02-19 00:00:00'
 '2017-07-02 00:00:00' '2017-07-30 00:00:00' '2017-01-08 00:00:00'
 '2017-07-23 00:00:00' '2017-08-13 00:00:00' '2017-07-04 00:00:00'
 '2016-12-04 00:00:00' '2017-04-23 00:00:00' '2016-12-03 00:00:00'
 '2017-07-09 00:00:00' '2016-09-04 00:00:00' '2017-02-12 00:00:00'
 '2017-06-04 00:00:00']